/*-------------- LOGO DISPLAY - Made By FAXES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

#logo .contenair {
    position: absolute;
    z-index: 2;
	width: 567px;  /* Set width to 20 pixels */
    height: 273px; /* Set height to 20 pixels */
    right: 24.3%;
    margin: 0; /* Adjust margin to center the smaller image */
    opacity: 0.99;
    background: url('img/logovln2.png');
    background-size: 150px; /* Ensure the image fits the container */
	background-repeat: no-repeat;
    padding: none;
}

	
#logo .spacer{
	z-index: 2;
	width: 121%;
	height: 81px;
	margin: 0;  
	text-align: left;
  background: transparent;	
}
	
#welcome-text {
    font-family: "Cairo", sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
    color: #ffffff;
	stroke: black;
	stroke-width: 3px;
}

#discord-text {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #fbff00;
	box-shadow: snow;
}


/*#logo-right .contenair-right {
    position: absolute;
    z-index: 2;
    width: 567px;  /* Adjust the size as needed */
/*    height: 273px; /* Adjust the size as needed */
/*    right: 5px;  /* Position it on the right side */
/*   top: 12%;     /* Adjust vertical position */
/*    margin: 0;
/*    opacity: 100%; /* Set opacity to 50% */
/*    background: url('img/logovln2.png');
    background-size: 100px; /* Ensure the image fits the container */
/*	background-repeat: no-repeat;
    padding: none;
}









